<ion-list lines="none">
  <swiper-container class=" ion-no-padding" pager="false" space-between="30" slides-per-view="auto" view #slider
    class="my-custom-slider ion-text-center ion-padding-horizontal">
    <swiper-slide>
      <p class="ion-text-start flex-container font-weight-bold">PERSONAL ONLINE
        <ion-icon class="orange-text zoom-one-half" name="add-circle-outline"></ion-icon>
      </p>
      <div class="image-container">
        <img class="img-gray img-rounded"
          src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-1.png" />
        <div class="overlay"></div>
        <div class="centered-text text-align-left">
          <ion-icon class="zoom-twice" name="add-circle-outline"></ion-icon> NOVO <br />TREINO
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <p class="ion-text-start flex-container font-weight-bold">
          <ion-icon class="orange-text zoom-one-half" name="add-circle-outline"></ion-icon>
        </p>
        <img class="img-gray img-rounded"
          src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-2.png" />
        <div class="overlay"></div>
        <div class="bottom-text">
          Yoga Expression
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <swiper-container class="ion-no-padding" pager=" false" space-between="30" slides-per-view="auto" view #slider
    class="my-custom-slider ion-text-center ion-padding-horizontal">
    <swiper-slide>
      <p class="ion-text-start flex-container no-padding no-margin font-weight-bold">PROGRAMAS
        <ion-badge class="custom-badge">NOVO</ion-badge>
      </p>
      <div class="image-container">
        <img class="img-gray img-rounded"
          src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-1.png" />
        <div class="overlay"></div>
        <div class="bottom-text ion-text-start ml-10">
          <p class="orange-text ion-no-padding ion-no-margin medium-text">Continuar Treinando</p>
          <p class="ion-no-padding ion-no-margin medium-text">LEVANTAMENTO DE PESO</p>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="image-container">
        <p class="ion-text-start flex-container font-weight-bold no-margin no-padding">
          <ion-icon class="orange-text zoom-one-half" name="add-circle-outline"></ion-icon>
        </p>
        <img class="img-gray img-rounded"
          src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-2.png" />
        <div class="overlay"></div>
        <div class="bottom-text">
          Yoga Expression
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  <swiper-container pager="false" space-between="30" slides-per-view="auto" view #slider
    class="my-custom-slider ion-text-center ion-padding-horizontal">
    <swiper-slide>
      <p class="ion-text-start flex-container no-padding no-margin font-weight-bold">CONTEÚDOS
      </p>
      <div class="image-container">
        <img class="img-gray img-rounded"
          src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-1.png" />
        <div class="overlay"></div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <p class="ion-text-start flex-container font-weight-bold no-margin no-padding">
        <ion-icon class="orange-text zoom-one-half" name="add-circle-outline"></ion-icon>
      </p>
      <img class="img-gray img-rounded"
        src="https://static-images.ifood.com.br/image/upload/t_high,q_100/webapp/landing/landing-banner-2.png" />
      <div class="overlay"></div>
    </swiper-slide>
  </swiper-container>
</ion-list>