/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.custom-title-heading {
  font-family: 'Rajdhani', sans-serif;
}

.custom-title-heading {
  font-family: 'Rajdhani', sans-serif;
}

.purple-text {
  color: #5730B5 !important;
}

.orange-text {
  color: #B05F0A;
}

.rounded-bottom {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.zoom {
  zoom: 1.4;
}

.zoom-12 {
  zoom: 1.2;
}

.zoom-one-half {
  zoom: 1.5;

}

.zoom-twice {
  zoom: 2.0;
}

.dark-bg {
  background-color: #161616;
}

.border-icon-orange {
  color: #B05F0A;
  font-size: 10px;
  border: 1px solid #B05F0A;
  border-radius: 50%;
  padding: 3px;
  margin: 0 5px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.small-text {
  font-size: 9px;
}

.medium-text {
  font-size: 12px;
}

.mt-8 {
  margin-top: 8px;
}


.pt-0 {
  padding-top: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-10 {
  margin-left: 10px;
}

.custom-badge {
  font-size: 8px;
  margin-left: 5px;
  background-color: #B05F0A;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.font-weight-bold {
  font-weight: bold;
}